.header {
  max-width: 1184px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto 56px;
  padding: 28px 48px 0;
}

@media screen and (max-width: 768px) {
  .header {
    padding: calc(16px + 12 * ((100vw - 320px) / (768 - 320)))
      calc(16px + 32 * ((100vw - 320px) / (768 - 320))) 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px 16px 0;
  }
}
