.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

@media screen and (max-width: 510px) {
  .footer__links {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-bottom: 48px;
  }
}
