.cover__title {
  z-index: 2;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 32px;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + 40 * ((100vw - 320px) / (768 - 320)));
    line-height: calc(35px + 41 * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 255px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}
