.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(440px, 460px) minmax(452px, 484px)
  );
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(
      auto-fit,
      minmax(340px, 440px) minmax(352px, 456px)
    );
    gap: 48px 30px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    margin-bottom: 73px;
  }

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
  }

  .place:last-child {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    gap: 32px;
    margin-bottom: 50px;
  }

  .place:last-child {
    margin-bottom: 66px;
  }
}
