.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 calc(16px + 12 * ((100vw - 320px) / (768 - 320))) 24px;
  }
}

@media screen and (max-width: 510px) {
  .footer {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding: 0 16px 24px;
  }
}
